<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OC_share(系统自带).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EED7D7221D20B60E00EC107A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EED7D73E1D20B60E00EC107A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EED7D7491D20B60E00EC107A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
